{{define "view"}}
    {{template "header" .}}
<div class="page-header"><h1>{{.namespace}}</h1></div>

<div class="btn-group">
{{$namespace := .namespace}}
{{$size := .size}}
{{range $s, $n := .sizeNames}}
    <a href="./?namespace={{$namespace}}&size={{$s}}" class="btn{{if equals $s $size}} disabled{{end}}">{{$n}}s</a>
{{end}}
</div><br />
<br />

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
    var dataArray = [
{{range $op := .operations}}
        [
            "Total Operations per {{getSizeName $size}}",
            "Total Operations",
            "#3366cc",
            "graph_{{$op.Name}}_operations", 
            [
                ['x', 'Operations'],
{{range $key, $bl := $op.Backlog}}
                ['{{plus1 $key}}{{getSizeLetter $size}}', {{$bl.Operations}}],
{{end}}
            ]
        ],
        [
            "Average Latency per {{getSizeName $size}}",
            "Avg. Latency",
            "#dc3912",
            "graph_{{$op.Name}}_latency",
            [
                ['x', 'Latency (ms)'],
{{range $key, $bl := $op.Backlog}}
                ['{{plus1 $key}}{{getSizeLetter $size}}', {{$bl.Latency}}],
{{end}}
            ]
        ],
{{end}}
    ];

    function drawVisualization() {
        for (k in dataArray) {
            // Create and populate the data table.
            var data = google.visualization.arrayToDataTable(dataArray[k][4]);
            
            // Create and draw the visualization.
            new google.visualization.LineChart(document.getElementById(dataArray[k][3])).
            draw(data, {curveType: "function",
                    width: 450, height: 200,
                    hAxis: {direction: -1, title: "{{getSizeName $size}}s Ago", minValue: 0},
                    vAxis: {title: dataArray[k][1], minValue: 0},
                    legend: {position: "none"},
                    title: dataArray[k][0],
                    colors: [dataArray[k][2]],
                    backgroundColor: "#f5f5f5",
            });
        }
    }


    google.setOnLoadCallback(drawVisualization);
    </script>

{{range $op := .operations}}
<div class="well">
    <h2 style="display: inline">{{$op.Name}}</h2>
    <span>(Score:  {{$op.Score}})</span><br />

    <table>
        <tr>
            <td><span id="graph_{{$op.Name}}_operations"></span></td>
            <td><span id="graph_{{$op.Name}}_latency"></span></td>
        </tr>
    </table>
</div>
{{end}}
    {{template "footer" .}}
{{end}}
